body{
    background-color: aqua;
    font-size: 50px;
}
.cleber{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter:grayscale(100%);
    transition: transform 0.5s ease-in-out;
}
.cleber:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}